# Global Environment Example

Z_ROOT=/path/to/Z
Z_CART=${Z_ROOT}/manifest.yml
Z_SCRIPTS=${Z_ROOT}/scripts
Z_ARCHIVE=${Z_ROOT}/archive
Z_WORKSPACE=${Z_ROOT}/workspace
Z_CONTAINERS=${Z_ROOT}/containers
Z_ENV=${Z_ROOT}/environment
Z_CLOUD=${Z_ROOT}/cloud
Z_DOCS=${Z_ROOT}/docs
